<table (click)="onClick()">
  <tr>
    <td>
      <div class="card">
        <app-card *ngIf="cards[3]" [card]="cards[3]"></app-card>
      </div>
    </td>
    <td class="right">
      <div class="card">
        <app-card *ngIf="cards[2]" [card]="cards[2]"></app-card>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="card">
        <app-card *ngIf="cards[0]" [card]="cards[0]"></app-card>
      </div>
    </td>
    <td class="right">
      <div class="card">
        <app-card *ngIf="cards[1]" [card]="cards[1]"></app-card>
      </div>
    </td>
  </tr>
</table>